<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="TunnelVisionLabs.Threading Code Analysis Rules" Description="Code Analysis Rules for TunnelVisionLabs.Threading" ToolsVersion="14.0">
  <Rules AnalyzerId="PublicApiAnalyzer" RuleNamespace="PublicApiAnalyzer">
    <Rule Id="RS0016" Action="Error" />
    <Rule Id="RS0017" Action="Error" />
    <Rule Id="RS0022" Action="Error" />
    <Rule Id="RS0024" Action="Error" />
    <Rule Id="RS0025" Action="Error" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0000" Action="Hidden" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1412" Action="Warning" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1609" Action="Warning" />
    <Rule Id="SA1634" Action="Error" />
    <Rule Id="SA1635" Action="Error" />
    <Rule Id="SA1636" Action="Error" />
    <Rule Id="SA1637" Action="None" />
    <Rule Id="SA1638" Action="None" />
    <Rule Id="SA1640" Action="None" />
    <Rule Id="SA1641" Action="None" />
    <Rule Id="SX1101" Action="Warning" />
    <Rule Id="SX1309" Action="Warning" />
    <Rule Id="SX1309S" Action="Warning" />
  </Rules>
</RuleSet>